// 主题颜色
$themeColor: #2E8CF0;
// logo背景色
$logoBgColor: #17bfbf;
// 目录导航渐变开始颜色
$navStartColor: #04bcbc;
// 目录导航渐变结束颜色
$navEndColor: #04a6a6;
// 表格激活颜色
$tabelActiveColor: #f4fcfc;
// 视频播放按钮颜色
$videoBtnActiveColor: rgba(24, 199, 199, 0.9);
// 图片路径
$imgUrl: '../img/';

